body {
    overflow-x: hidden;
}

#blob {
    height: 100%;
    aspect-ratio: 1;
    position: absolute;
    translate: -50% -50%;
    border-radius: 50%;
    background: white linear-gradient(to right, rgb(2, 215, 253), rgb(255, 91, 165));
    animation: rotate 30s infinite;
    top: 50%;
    left: 50%;
}

#blur {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    backdrop-filter: blur(12vmax);
}

@keyframes rotate{
    from { rotate: 0deg; }
    50% { scale: 1 1.5; }
    to { rotate: 360deg; }
}